/* Coolors Exported Palette - coolors.co/bfd7ea-91aec1-508ca4-0a8754-004f2d */

/* HSL */
$color1: hsla(207, 51%, 83%, 1);
$color2: hsla(204, 28%, 66%, 1);
$color3: hsla(197, 34%, 48%, 1);
$color4: hsla(156, 86%, 28%, 1);
$color5: hsla(154, 100%, 15%, 1);

/* RGB */
$color1: rgba(191, 215, 234, 1);
$color2: rgba(145, 174, 193, 1);
$color3: rgba(80, 140, 164, 1);
$color4: rgba(10, 135, 84, 1);
$color5: rgba(0, 79, 45, 1);
